﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #1d60ff;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #1d60ff;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
    margin-top: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-variant: small-caps;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    min-width: 420px;
    background-color: #fff;
    margin: 20px 10px 0px 10px;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

table.menu
{
    padding: 4px 0px 4px 8px;
	margin: 0px;
	background-color:#3a4f63;
    width:100%;
}

table.menu a, table.menu a:visited
{
	font-size:small;
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
	width:40px;
}

table.menu a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

table.menu a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset.login p 
{
    margin: 2px 12px 20px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.textEntryNew 
{
    width: 150px;
    border: 1px solid #ccc;
}

select.dropdownEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

.accountInfo
{
	text-align:left;
    width: 360px;
}

/* VIEW PAGE
----------------------------------------------------------*/

.view-item-image-cell
{
    width: 64px;
    height: 64px;
    text-align: center;
    vertical-align: middle;
}
.view-item-image-cell img
{
    max-width: 64px;
    max-height: 64px;
}

.view-item-image-cell-large
{
    width: 512px;
    text-align: center;
}
.view-item-image-cell-large img
{
    max-width: 512px;
}


/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.successNotification
{
	font-size: 1.2em;
    color: Green;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/* Page Table   
----------------------------------------------------------*/

table.pages
{
	border-style:None;
	width:100%;
	border-collapse:collapse;
	font-size:small;
}

table.pages a:link, a:visited
{
    text-decoration:none;
}

table.pages a:hover
{
    text-decoration: underline;
}

table.pages tr.pheader
{
	height:25px;
}

table.pages tr.alternate
{
	background-color:#DFDFDF;
}

table.pages td.ColCheckbox
{
	width:23px;
}


table.pages th.ColTitle
{
	text-align:left;
}

table.pages th.ColPrivate, table.pages th.ColDate, table.pages th.ColPublicEdit
{
	text-align:center;
}

table.pages td.ColDelete
{
	width:15px; /*w + 3*/
}

table.pages td.ColLink
{
	width:17px; /*w + 3*/
}

table.pages td.ColRename
{
	width:20px; /*w + 4*/
}

table.pages td.ColTitle
{
}

table.pages td.ColPrivate
{
	width:20px;
	text-align:center;
}

table.pages td.ColPublicEdit
{
	width:20px;
	text-align:center;
}

table.pages td.ColDate
{
	width:135px;
	text-align:right;
}

/* Links   
----------------------------------------------------------*/

fieldset.links
{
	background-color:#4b6c9e;
	border: 1px solid #496077;
	color:#FFF;
	margin: 5px 5px 5px 5px;
	height:100px;
}

input.textDisplayLink
{
	width: 100%;
    border: 1px solid #ccc;
}

/* Rename   
----------------------------------------------------------*/

table.rename
{
	font-size:small;
}

input.textEntryRename 
{
    width: 150px;
	margin-left:10px;
    border: 1px solid #ccc;
}

table.rename td.date
{
	font-size:smaller;
	padding-left:10px;
}

/* Editpage   
----------------------------------------------------------*/

.editPage
{
	width:100%;
	border: 1px solid #ccc;
}

table td.date
{
	text-align:right;
	vertical-align:bottom;
	width:175px;
}

input.textEntryTitle
{
    font-size:inherit;
	font-family:inherit;
	font-weight:inherit;
	color:inherit;
	background-color:inherit;
	
    border: 1px solid transparent;
}
